body, .x.axis, .y.axis, button {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #eef1f6;
}

button {
    margin: 0.5em;
}

#factsSectionDiv {
    background: #e2e6ec;
}

footer {
    color: white;
    background: #0066ff;
    padding: 30px;
}

/* Navigation Bar Css */

body {
    margin: 0;
    font-family: Arial;
}

.navbar {
    background-color: #0066ff;
    padding: 20px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}

#image {
    display: flex;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
    max-width: 400px;
    height: auto;
}

.formRow {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Adds vertical spacing between form rows */
}

.formRow label {
    min-width: 150px; /* Reserve space for labels */
    margin-right: 10px;
    text-align: right;
    align-items: top;
    
}

.formRow .textareaRow {
    align-items: flex-start;
}

/* CSS */
.formContainer, #studentProfiles {
    padding: 50px;
    display: flex;
    justify-content: center;
}

form fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
}

.submit {
    margin-right: 10px;
}

/* CHART */
#chartDiv {
    display: inline-flex;
} 

#legendDiv, .legendLabel {
    display: flex;
    align-items: center;
}

#chartLegend {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 15px;
    gap: 15px;
}
