body, .x.axis, .y.axis, button {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

button {
    margin: 0.5em;
}

#factsSectionDiv, footer {
    background: rgb(243, 243, 243);
    
}

footer {
    color: grey;
    background: blue;
}

/* Navigation Bar Css */

body {
    margin: 0;
    font-family: Arial;
}

.navbar {
    background-color: blue;
    padding: 20px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar li {
    margin-right: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    text-decoration: underline;
}


#image {
    display: flex;
    float: right;
    margin-left: 20px;
    margin-bottom: 10px;
    max-width: 400px;
    height: auto;
}




.formRow {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Adds vertical spacing between form rows */
}

.formRow label {
    min-width: 150px; /* Reserve space for labels */
    margin-right: 10px;
    text-align: right;
}



.formRow.textareaRow {
    align-items: flex-start;
}

/* CSS */
.formContainer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
   
   
}

form fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
}

.submit {
    margin-right: 10px;
}