body, .x.axis, .y.axis, button {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

button {
    margin: 0.5em;
}

#factsSectionDiv, footer {
    background: rgb(243, 243, 243);
    
}

footer {
    color: grey;
    background: rgb(240, 240, 240);
}

